mixin ol(list)
  ol
    - each item in list
      li= item

mixin ul(list)
  ul
    - each item in list
      li= item

mixin note(note)
  div= note
    block


mixin ulFragment(list)
  ul
    - each item, i in list
      li(class="fragment visible current-fragment" data-fragment-index=i)= item

mixin olFragment(list)
  ol
    - each item, i in list
      li(class="fragment visible current-fragment" data-fragment-index=i)= item
